body {
    background-image: url(image.jpg);
    text-align: center;
    color: white;
    background-size: cover;
    font-weight: bold;
  }
  
  h1 {
    color: goldenrod;
  }
  
  #message-el {
    font-style: italic;
  }
  
  button {
    color: darkgreen;
    width: 150px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border-radius: 5px;
  }
  